DATABASE_URL="postgresql://postgres.[PROJ_ID]:[PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[PROJ_ID]:[PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"
PORT=3000
